/**
 * categories_tpl3_wrap
 * 
 * categories_tpl3_wrap
 * 
 * @category    chunk
 * @internal    @overwrite true
*/
<div class="categories-template3">
    <ul class="items">
        [+dl.wrap+]
    </ul>
</div>
