/**
 * categories_tpl2_wrap
 * 
 * categories_tpl2_wrap
 * 
 * @category    chunk
 * @internal    @overwrite true
*/
<div class="categories-template2">
    <div class="row">
        [+dl.wrap+]
    </div>
</div>
