/**
 * categories_tpl1_wrap
 * 
 * categories_tpl1_wrap
 * 
 * @category    chunk
 * @internal    @overwrite true
*/
<div class="categories">
    <div class="row">
        [+dl.wrap+]
    </div>
</div>