.categories {
    .item {
        padding-bottom: 74.286%;
        position: relative;
        overflow: hidden;
        margin: 0 0 1.25rem;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.7);
            opacity: 0;
            transition: all 0.5s ease;
            z-index: 1;
        }

        a {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 2;
        }

        .image {
            background-position: center;
            background-size: cover;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            transition: all 0.5s ease;
        }

        .info {
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            padding: 5%;
            color: #fff;
            transform: translate(0,100%);
            transition: all 0.5s ease;
            z-index: 1;

            .title {
                padding: 0 0.625rem 0.625rem 0;
                font-size: 1.25rem;
                transition: all 0.5s ease;
                bottom: ~"calc(100% + 0.7rem)";
                left: 5%;
                right: 5%;
                position: absolute;
            }

            .intro {
                transition: all 0.5s ease;
                opacity: 0;
            }
        }

        &:hover {
            &:before {
                opacity: 1;
            }

            .image {
                transform: scale(1.05);
            }

            .info {
                transform: none;
            }

            .intro {
                opacity: 1;
            }
        }
    }
}

.main-page .categories {
    margin-top: 2.5rem;
}

.categories-template2 {
    padding: 3rem 0 1rem;

    .item {
        margin: 0 0 2rem;
        overflow: hidden;

        .image {
            float: left;
            max-width: 28.575%;
        }

        .info {
            margin-left: 34%;

            .title {
                font-size: 1.25rem;
                margin: 0 0 1rem;

                a {
                    text-decoration: none;
                    color: @primary_color;
                }
            }
        }
    }
}

.categories-template3 {
    padding: 3rem 0;

    .items {
        padding: 1px 0 0 1px;

        > li {
            width: 50%;
        }
    }

    .item {
        border: 1px solid #e7e8ea;
        margin: -1px 0 0 -1px;
        padding: 2rem;
        transition: all 0.2s ease;

        overflow: hidden;

        .image {
            float: left;
            max-width: 24.515%;
        }

        .info {
            margin-left: 30%;

            a {
                text-decoration: none;
                color: @primary_color;

                &:hover {
                    color: @primary_color_hover;
                }
            }

            .title {
                font-size: 1.25rem;
                margin: 0 0 1rem;
            }

            .children {
                margin: -0.3rem 0 0.6rem;

                a {
                    margin: 0 1rem 0.3rem 0;
                    display: inline-block;
                }
            }
        }

        &:hover {
            box-shadow: 0 0 2rem rgba(0,0,0,0.06);
        }
    }

    @supports (display: flex) {
        .items {
            display: flex;
            flex-wrap: wrap;

            > li {
                display: flex;
                flex-direction: column;
            }
        }

        .item {
            width: ~"calc(100% + 1px)";
            flex: 1 1 auto;
        }
    }

    @media (max-width: 767px) {
        .items {
            > li {
                width: 100%;
            }
        }
    }

    @media (max-width: 400px) {
        .item {
            padding: 1rem;
        }
    }
}

.products-list {
    .items {
        margin: 0 -1.7%;

        .slide {
            width: 33.3333%;
            padding: 0 1.7% 3.4%;
            display: inline-block;
            vertical-align: top;
        }
    }

    .item {
        position: relative;
        background: #fff;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);

        .image {
            display: block;
            padding-bottom: 74%;
            position: relative;
            overflow: hidden;

            span {
                background-position: center;
                background-size: cover;
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                transition: all 0.5s ease;
            }
        }

        .info {
            padding: 1.25rem 7% 0.625rem;

            .title {
                margin: 0 0 0.3125rem;
                line-height: 1.125rem;
                min-height: 3.375rem;

                a {
                    font-size: 0.9375rem;
                    font-weight: 600;
                    color: #333;
                    text-decoration: none;

                    &:hover {
                        color: @primary_color;
                    }
                }
            }

            .category {
                color: #777;
                margin: 0 0 0.9375rem;
            }

            .price {
                background: @primary_color;
                display: inline-block;
                vertical-align: top;
                margin: 0 1.25rem 0.625rem 0;
                border-radius: 2px;
                padding: 0.5rem 0.9375rem;
                color: @primary_color_contrast;
                font-size: 0.9375rem;
            }
        }

        .labels {
            position: absolute;
            left: 0;
            top: 0;
            padding: 0.5rem;
            pointer-events: none;

            span {
                background: rgba(255,255,255,0.8);
                white-space: nowrap;
                margin: 0 0.5rem 0 0;
                padding: 0.2rem 0.5rem;
                font-size: 0.5rem;
                font-weight: bold;
                text-transform: uppercase;
                display: inline-block;
                border-radius: 5rem;
                color: #fff;
            }

            .label1 {
                background: rgba(14, 137, 215, 0.8);
            }

            .label2 {
                background: rgba(39, 173, 105, 0.8);
            }

            .label3 {
                background: rgba(222, 0, 43, 0.8);
            }

            .label4 {
                background: rgba(245, 164, 0, 0.8);
            }
        }

        &:hover .image span {
            transform: scale(1.05);
        }
    }

    .pagination {
        margin: 0 1.7%;
    }
}

.products-cycle {
    margin: 2.5rem 0 0;
    position: relative;

    .products-list {
        .items {
            margin: 0 -0.9375rem;
        }

        .slide {
            width: 25%;
            padding: 0 0.9375rem;
            margin-bottom: 0.3125rem;
        }
    }

    .ctrl {
        position: absolute;
        left: 0;
        z-index: 1;
        top: 4.0625rem;
        color: #fff;
        padding: 0.9375rem;
        font-size: 1.25rem;
        opacity: 0.5;

        &.next {
            left: auto;
            right: 0;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}

.main-cycle {
    margin: -1.875rem 0 0;
    position: relative;
    height: 28.125rem;
    overflow: hidden;

    .slide {
        background-position: center;
        background-repeat: no-repeat;
        height: 28.125rem;
        width: 100%;

        .title {
            color: #fff;
            font-size: 1.875rem;
            font-weight: 600;
            margin: 0 0 1.875rem;
            padding: 8.125rem 0 0;
            width: 60%;

            .inline-padding {
                position: relative;
            }
        }

        .text {
            margin: 0 0 1.25rem;
            font-size: 1.25rem;

            .glowing {
                text-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
            }

            .shadow {
                text-shadow: 0 0 10px rgba(0,0,0,0.9);
                color: #fff;
            }
        }

        .btn {
            font-size: 1.25rem;
            text-transform: none;
        }
    }

    .slick-dots {
        position: absolute;
        bottom: 1.875rem;
        left: 0;
        right: 0;
        height: 0;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;

        li {
            display: inline-block;
            vertical-align: top;

            span {
                display: block;
                padding: 0.375rem;
                cursor: pointer;

                &:before {
                    content: '';
                    display: block;
                    border: 3px solid #fff;
                    border-radius: 50%;
                    background: #fff;
                    width: 0.75rem;
                    height: 0.75rem;
                }
            }

            &.slick-active {
                span {
                    cursor: default;

                    &:before {
                        background: transparent;
                    }
                }
            }
        }
    }

    .ctrl {
        position: absolute;
        z-index: 200;
        top: 50%;
        font-size: 2.5rem;
        left: calc(~"50% - 3.125rem");
        width: 3.125rem;
        color: #fff;
        margin-left: -43.75rem;
        margin-top: -1.5625rem;
        height: 3.125rem;
        line-height: 3.125rem;
        text-decoration: none;

        &.next {
            margin-left: 46.875rem;
        }
    }
}

.company-features {
    padding: 2.5rem 0 1.25rem;

    .col-md-4 {
        overflow: hidden;
    }

    img {
        float: left;
        width: 6.25rem;
        border-radius: 50%;
        display: block;
        margin: 0 auto 1.25rem;
    }

    .feature-card {
        margin: 0 0 1.25rem 7.5rem;

        .title {
            color: @primary_color;
            font-weight: 600;
            font-size: 1rem;
            margin: 0 0 0.625rem;
        }
    }
}

.main-page .about {
    .block-title {
        margin-bottom: 2rem;
    }

    img {
        border-radius: 50%;
    }

    .props {
        .animate {
            font-size: 4.5rem;
            line-height: 5.875rem;
            color: @primary_color;
        }

        .text {
            padding: 0 3.125rem 1rem 0;
            position: relative;
            margin: 0 0 1.25rem;

            &:after {
                position: absolute;
                content: ' ';
                width: 1.875rem;
                height: 2px;
                bottom: 0;
                opacity: 1;
                background: #d4d4d4;
                z-index: 3;
                left: 0;
            }
        }
    }
}

.product-card {
    margin: 1.875rem 0 0;
    background: #fff;
    border: 1px solid #ebeef1;

    .images-cycle {
        .images {
            position: relative;

            .slide {
                a {
                    display: block;
                    padding-bottom: 55%;
                    background-position: center;
                    background-size: cover;
                    background-color: #fff;
                    background-repeat: no-repeat;
                }
            }

            .ctrl {
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                width: 20%;
                z-index: 1;

                i {
                    position: absolute;
                    left: 0.625rem;
                    top: 50%;
                    line-height: 2.5rem;
                    margin-top: -1.25rem;
                    color: #fff;
                    font-size: 1.25rem;
                    opacity: 0.5;
                    transition: all 0.3s ease;
                }

                &.next {
                    left: 80%;
                    right: 0;

                    i {
                        left: auto;
                        right: 0.625rem;
                    }
                }

                &:hover {
                    i {
                        opacity: 0.8;
                    }
                }
            }
        }

        .thumbs {
            .slide {
                cursor: pointer;
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0,0,0,0.3);
                    transition: all 0.3s ease;
                }

                &.slick-current:after, &:hover:after {
                    display: none;
                }

                @supports (opacity: 0) {
                    &.slick-current:after, &:hover:after {
                        display: block;
                        opacity: 0;
                    }
                }

                div {
                    padding-bottom: 63%;
                    background-position: center;
                    background-size: cover;
                }
            }
        }
    }

    .info {
        padding: 1.25rem 1.25rem 1.25rem 0;

        .area {
            display: inline-block;
            vertical-align: top;
            margin: 0 1.25rem 0.625rem 0;
            border-radius: 2px;
            padding: 0.5rem 0.9375rem;
            color: @primary_color_contrast;
            font-size: 1.5625rem;
        }

        .price {
            display: inline-block;
            vertical-align: top;
            padding: 0.5rem 0;

            &.with-old-price {
                padding: 0;
            }

            > .value {
                font-size: 1.625rem;
                color: @primary_color;
                font-weight: 600;
                line-height: 1;
            }

            .old-price {
                color: #666;
                font-size: 0.8125rem;
                margin: 0.3125rem 0 0;

                .value {
                    text-decoration: line-through;
                }
            }
        }

        .user-content {
            margin: 1.875rem 0;
        }

        .buttons {
            margin: 1.875rem 0 1.25rem;

            .btn {
                margin-bottom: 0.625rem;
            }
        }
    }
}

.product-page {
    .page-title .small {
        font-size: 0.75rem;
        color: #777;
        margin-top: 0.3125rem;
    }

    .block-title {
        margin: 0 0 1.25rem;
    }

    hr {
        margin: 2.5rem 0;
    }

    .prints {
        .items {
            margin: 0 -0.9375rem;

            li {
                width: 33.333%;
                padding: 0 0.9375rem 1.875rem;

                a {
                    position: relative;
                    display: block;
                    padding-bottom: 100%;
                    border: 1px solid #e8e8e8;
                    border-radius: 2px;

                    .image {
                        position: absolute;
                        left: 10%;
                        top: 10%;
                        bottom: 10%;
                        right: 10%;
                        text-align: center;

                        &:before {
                            content: '';
                            display: inline-block;
                            width: 0;
                            height: 100%;
                            vertical-align: middle;
                        }

                        img {
                            vertical-align: middle;
                            max-width: 95%;
                            max-height: 95%;
                        }
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        background: url(../images/zoom.png) center no-repeat rgba(0,0,0,0.1);
                        z-index: 1;
                        display: none;
                    }

                    &:hover:after {
                        display: block;
                    }

                    @supports (opacity: 0) {
                        &:after {
                            display: block;
                            opacity: 0;
                            transition: all 0.3s ease;
                        }

                        &:hover:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }

    .attributes {
        margin: 0 0 1.25rem;

        table {
            width: 100%;

            td {
                border-bottom: 1px dotted #aaa;
                padding: 0.3125rem 0 0;

                span {
                    background: #fff;
                    display: inline-block;
                    padding: 0.4375rem 0.625rem 1px 0;
                    margin-bottom: -1px;
                }

                + td {
                    text-align: right;

                    span {
                        padding-left: 0.625rem;
                    }
                }
            }
        }
    }
}

.materials-list {
    .item {
        margin: 0 0 1.875rem;

        .title {
            font-weight: 600;
            font-size: 1rem;
            margin: 0 0 0.3125rem;
            line-height: 1.1;

            a {
                color: @primary_color;
                text-decoration: none;

                &:hover {
                    color: #333;
                }
            }
        }

        .date {
            margin: 0 0 0.625rem;

            span {
                display: inline-block;
                background: @primary_color;
                color: @primary_color_contrast;
                padding: 0.1875rem 0.375rem;
                border-radius: 1px;
                font-size: 0.75rem;
            }
        }

        .intro {
            margin: 0 0 0.625rem;
        }

        .btn {
            font-size: 0.75rem;
        }
    }
}


.news-page {
    .date {
        margin: 0 0 0.625rem;

        span {
            display: inline-block;
            background: @primary_color;
            color: @primary_color_contrast;
            padding: 0.1875rem 0.375rem;
            border-radius: 1px;
            font-size: 0.75rem;
        }
    }
}

.news-footer {
    clear: both;
    padding: 1.25rem 0 0;

    .back {
        line-height: 1.875rem;
        color: #333;
        margin-bottom: 0.9375rem;
        display: inline-block;

        i {
            display: inline-block;
            width: 1.875rem;
            height: 1.875rem;
            background: @primary_color;
            text-align: center;
            color: @primary_color_contrast;
            border-radius: 2px;
            margin-right: 0.625rem;
        }
    }
}

.side-nav {
    border: 1px solid #ebeef1;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
        line-height: 1rem;
        margin: 0;
        padding: 0;

        a {
            border-top: 1px solid #ebeef1;
            font-size: 0.875rem;
            position: relative;
            text-decoration: none;
            padding: 0.8125rem 2rem 0.875rem 1.25rem;
            display: block;

            i {
                color: #7b8e9a;
                position: absolute;
                right: 1.25rem;
                top: 0.75rem;
            }

            &:hover, &:focus {
                background-color: rgba(0,0,0,0.04);
                color: @primary_color;
            }
        }

        &:first-child a {
            border-top-width: 0;
        }

        &:not(.current) a {
            color: #2f383d;
        }

        &.current {
            a {
                border-top: 1px solid @primary_color;
                background: @primary_color;
                color: @primary_color_contrast !important;

                i {
                    color: @primary_color_contrast !important;
                }
            }

            &.child {
                a:before {
                    top: 0.6875rem;
                }
            }
        }
    }
}

.gallery {
    margin: 1.25rem 0;

    .items {
        margin: 0 -0.625rem;

        li {
            width: 25%;
            padding: 0 0.625rem;
            margin: 0 0 1.25rem;

            a {
                display: block;
                color: #333;
                text-decoration: none;

                .text {
                    display: block;
                    padding: 0.625rem 0.3125rem 0;
                }

                .image {
                    display: block;
                    padding-bottom: 64.64%;
                    position: relative;
                    background-size: cover;
                    background-position: center;

                    &:after {
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        bottom: 0;
                        right: 0;
                        background: url(../images/zoom.png) center no-repeat rgba(0,0,0,0.2);
                        z-index: 1;
                        display: none;
                    }
                }

                &:hover {
                    .imager:after {
                        display: block;
                    }
                }
            }
        }
    }

    &.format1 {
        .items {
            li {
                width: 33.333%;

                a {
                    .image {
                        padding-bottom: 124.64%;
                        background-size: contain;
                    }
                }
            }
        }
    }
}

@supports (opacity: 0) {
    .gallery .items li {
        a {
            .image:after {
                display: block;
                opacity: 0;
                transition: all 0.3s ease;
            }
            
            &:hover .image:after {
                opacity: 1;
            }
        }
    }
}

.partners {
    margin-top: 0;

    .slick {
        padding: 0 3rem;
        position: relative;

        .ctrl {
            position: absolute;
            left: 0;
            top: 50%;
            font-size: 1.5rem;
            line-height: 3rem;
            height: 3rem;
            width: 3rem;
            text-align: center;
            margin-top: -1.5rem;
            text-decoration: none;
            color: #333;

            &.next {
                left: auto;
                right: 0;
            }
        }

        .slide {
            height: 6.25rem;
            white-space: nowrap;
            text-align: center; 
            padding: 0 0.5rem;

            &:before {
                content: '';
                width: 0;
                height: 6.25rem;
                vertical-align: middle;
                display: inline-block;
            }

            img {
                vertical-align: middle;
                display: inline-block;
                max-width: 100%;
            }
        }
    }
}



@media ( max-width: 1500px ) {
    .main-cycle .ctrl {
        margin-left: -600px;
        
        &.next {
            margin-left: 650px;
        }
    }
}

@media ( max-width: 1300px ) {
    .main-cycle .ctrl {
        margin-left: -560px;
        
        &.next {
            margin-left: 610px;
        }
    }
}

/* xs, sm, md, lg */
@media ( max-width: 1200px ) {
    .products-cycle .ctrl {
        top: 3.125rem;
    }
    
    .main-cycle .ctrl {
        margin-left: 0;
        left: 0;
        
        &.next {
            margin-left: 0;
            left: auto;
            right: 0;
        }
    }
}

/* xs, sm, md */
@media ( max-width: 991px ) {
    .main-cycle {
        margin-top: 0;
        
        .slide .title {
            width: auto;
            margin-left: -0.6em;
        }

        .form {
            display: none;
        }
    }

    .products-list .items .slide {
        width: 50%;
    }

    .products-cycle .products-list .items li {
        width: 33.3333%;
    }

    .product-card .images-cycle {
        .images .slide a {
            padding-bottom: 90%;
        }

        .thumbs .slide div {
            padding-bottom: 80%;
        }
    }

    .gallery .items li a .text {
        font-size: 0.7rem;
    }
}

/* xs, sm */
@media (max-width: 767px) {
    .product-card .info {
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
    }

    .main-cycle {
        height: 21.875rem;
        
        .slide {
            height: 21.875rem;
            
            .title {
                padding-top: 4.375rem;
            
                &.inline-padding {
                    position: relative;
                    left: -0.3em;
                }
            }

            .text {
                font-size: 1rem;
            }
        }
    }

    .product-card .images-cycle {
        .images .slide a {
            padding-bottom: 55%;
        }

        .thumbs .slide div {
            padding-bottom: 63%;
        }
    }

    .gallery .items li {
        width: 33.333%;
    }
}

/* xs */
@media (max-width: 575px) {
    .main-cycle {
        height: 15.625rem;
        
        .slide {
            height: 15.625rem;
            
            .title {
                font-size: 1.25rem;
                margin-bottom: 0.625rem;
            }

            .text {
                margin-bottom: 0.625rem;
            }

            .btn {
                font-size: 1rem;
            }
        }
        
        .ctrl {
            display: none !important;
        }
    }

    .main-page {
        .filter .block-title {
            padding: 0.625rem 0;
        }

        .about img {
            margin: 0 auto 1.25rem;
        }
    }

    .news-page .page-image {
        margin-right: 0;
        width: 100%;
    }

    .product-card .images .pager {
        display: none;
    }

    .products-cycle .products-list .items .slide {
        width: 50%;
        margin: 0 0 1.25rem;
        float: none;
    }

    .product-page .prints .items li {
        width: 50%;
    }

    .gallery, .gallery.format1 {
        .items li {
            width: 50%;
        }
    }

    .partners {
        padding: 3% 0;
    }
}

@media (max-width: 400px) {
    .main-cycle .slide .title {
        font-size: 1rem;
    }

    .products-list .items .slide {
        width: 100%;
    }

    .products-cycle .products-list .items .slide {
        width: 100%;
    }

    .gallery .items li {
        width: 100%;
    }
}

/* md, lg, xl */
@media ( min-width: 768px ) {
    .company-features {
        img {
            float: none;
        }

        .feature-card {
            margin-left: 0;
            text-align: center;
        }
    }
}

/* lg, xl */
@media ( min-width: 992px ) {
    .company-features {
        img {
            float: left;
        }

        .feature-card {
            margin-left: 7.5rem;
            text-align: left;
        }
    }
}



