.form-content {
    border-radius: 2px;
    border: 1px solid #e7e7e7;

    .form-title {
        padding: 2rem;
        line-height: 1;
        margin: -2rem -2rem 2rem;
    }

    .policy-note {
        font-size: 0.7rem;
        margin-top: 1rem;
        color: #777;
    }
}

.form-group {
    &.wi {
        position: relative;

        .form-control {
            padding-right: 1.875rem;

            &:focus + i,
            &:hover + i {
                opacity: 0.7;
            }
        }

        i {
            position: absolute;
            right: 0;
            width: 1.875rem;
            text-align: center;
            top: 0;
            line-height: 1.9375rem;
            opacity: 0.3;
            transition: all 0.3s ease;
        }
    }
}

input.form-control,
select.form-control,
textarea.form-control {
    height: 2rem !important;
    padding: 0 0.5rem;
    border-radius: 2px;
    font: @primary_font_size/1.2 @primary_font;
    font-size: 0.875rem;
    transition: all 0.3s ease;
}

textarea.form-control {
    height: 100px !important;
    resize: vertical;
    padding: 0.5rem;
}

.form-control:focus,
.form-control:hover {
    border-color: #777;
}


.btn {
    border-width: 2px;
    text-transform: uppercase;
    font-size: 0.875rem;
    box-shadow: none !important;
    text-decoration: none;

    &.btn-hollow-theme {
        background: none;
        border-color: @buttons_color;
        color: @buttons_color;

        &:hover {
            background: @buttons_color;
            color: @buttons_color_contrast;
        }
    }

    &.btn-hollow-white {
        background: none;
        border-color: #fff;
        color: @buttons_color_contrast;

        &:hover {
            background: #fff;
            color: @buttons_color;
        }
    }

    &.btn-theme {
        background: @buttons_color;
        border-color: @buttons_color;
        color: @buttons_color_contrast;

        &:hover {
            background: @buttons_color;
            border-color: @buttons_color;
        }
    }
}
