@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/exo2.0-bold.eot');
    src: url('../fonts/exo2.0-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-bold.woff2') format('woff2'),
         url('../fonts/exo2.0-bold.woff') format('woff'),
         url('../fonts/exo2.0-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/exo2.0-semibold.eot');
    src: url('../fonts/exo2.0-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-semibold.woff2') format('woff2'),
         url('../fonts/exo2.0-semibold.woff') format('woff'),
         url('../fonts/exo2.0-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;

}

@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/exo2.0-regular.eot');
    src: url('../fonts/exo2.0-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/exo2.0-regular.woff2') format('woff2'),
         url('../fonts/exo2.0-regular.woff') format('woff'),
         url('../fonts/exo2.0-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'default_icons';
    src: url('../fonts/default_icons.eot?fi1s3e');
    src: url('../fonts/default_icons.eot?fi1s3e#iefix') format('embedded-opentype'),
         url('../fonts/default_icons.ttf?fi1s3e') format('truetype'),
         url('../fonts/default_icons.woff?fi1s3e') format('woff'),
         url('../fonts/default_icons.svg?fi1s3e#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'default_icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e800";
}
.icon-email:before {
  content: "\e801";
}
.icon-pencil:before {
  content: "\e802";
}
.icon-small-down-arrow:before {
  content: "\e803";
}
.icon-checked:before {
  content: "\e804";
}
.icon-small-right-arrow:before {
  content: "\e80a";
}
.icon-social-vkontakte:before {
  content: "\e80b";
}
.icon-menu:before {
  content: "\f008";
}
.icon-user:before {
  content: "\f061";
}
.icon-social-youtube:before {
  content: "\f167";
}
.icon-social-odnoklassniki:before {
  content: "\f263";
}
.icon-social-facebook:before {
  content: "\f30c";
}
.icon-social-instagram:before {
  content: "\f31e";
}
.icon-close:before {
  content: "\e900";
}
.icon-map-pin:before {
  content: "\e903";
}
.icon-left-arrow:before {
  content: "\e901";
}
.icon-right-arrow:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e809";
} 
