body {
    font-size: 0.875rem;
}

.user-content {
    ul {
        margin: 0 0 1.25rem;
        padding: 0;
        list-style: none;

        li {
            position: relative;
            padding: 0 0 0.1875rem 1.5625rem;

            &:before {
                content: "\e804";
                font-family: 'default_icons';
                margin-top: 0.1875rem;
                opacity: 0.6;
                position: absolute;
                left: 0;
                top: -0.1rem;
                color: @primary_color;
            }
        }
    }

    ol {
        padding-left: 1.25rem;

        li {
            margin: 0.9375rem 0;
        }
    }

    .justifyright {
        float: right;
        margin: 0 0 0.625rem 0.625rem;
    }

    .justifyleft {
        float: left;
        margin: 0 0.625rem 0.625rem 0;
    }

    .img-responsive {
        max-width: 100%;
    }
}

.inline-padding {
    display: inline;
    background: @primary_color;
    color: @primary_color_contrast;
    padding: 0.3em 0;

    > span {
        position: relative;
        background: @primary_color;
        left: 1.2em;
        padding: 0.3em 0;

        > span {
            position: relative;
            left: -0.6em;
            background: @primary_color;
            z-index: 1;
        }
    }
}

.blocks-container {
    display: table;
    width: 100%;

    > div {
        display: table-cell;
        vertical-align: top;
    }
}

.head-placeholder {
    height: 9.75rem;
}

.head {
    padding: 1.25rem 0;
    height: 6rem;
    top: -4.375rem;
    transition: all 0.2s ease;

    .pull-xs-left {
        max-width: 50%;
    }

    .logo > a * {
        margin-top: -0.625rem;
        max-height: 4.375rem;
        max-width: 100%;
        display: block;
        fill: @primary_color;
    }

    .text {
        color: #777;
        padding: 0.3125rem 0 0 1rem;
    }

    .show-in-fixed {
        display: none;
    }

    .phone {
        margin: 0 0 0 1.25rem;
        display: inline-block;
        vertical-align: top;
        white-space: nowrap;
        font-size: 1.25rem;
        color: #333;

        a {
            color: #333;
            text-decoration: none;
        }

        .icon-phone {
            color: @primary_color;
            font-size: 1.375rem;
            top: 0.2rem;
        }
    }

    .callback {
        border-radius: 3.125rem;
        margin: 0.3125rem 0 0;
        font-size: 0.75rem;
    }
}

.themed-background {
    background: @primary_color;
    color: @primary_color_contrast;
}

.parent-link a {
    display: inline-block;
    color: #333;
    margin: 1.25rem 0;

    .icon-left-arrow {
        display: inline-block;
        width: 1.875rem;
        height: 1.875rem;
        text-align: center;
        color: #fff;
        border-radius: 2px;
        margin-right: 0.625rem;
        vertical-align: middle;
        line-height: 1.875rem;
    }
}

.consultation {
    background: @primary_color;
    color: @primary_color_contrast;
    padding: 2.5rem 0;

    .title {
        font-size: 1.375rem;
        font-weight: bold;
        padding: 0 3.125rem 0 0;
        line-height: 1.1;
    }

    .btn {
        font-weight: bold;
        font-size: 0.875rem;
    }
}

.footer {
    background: @footer_color;
    box-shadow: 0 4.375rem 3.125rem -1.25rem rgba(0,0,0,0.2) inset;
    color: darken(@footer_color_contrast, 30%);
    padding: 1.25rem 0;

    a {
        color: darken(@footer_color_contrast, 30%);
        text-decoration: none;

        &:hover {
            color: @primary_color;
        }
    }

    .copy {
        margin: 0 0 1rem;
    }

    .socials {
        margin: 0 0 1rem;

        a {
            display: inline-block;
            margin: 0.3125rem 0.5rem 0.3125rem 0;
            width: 1.9375rem;
            height: 1.9375rem;
            border: 2px solid transparent;
            text-align: center;
            line-height: 1.6875rem;
            background: rgba(255,255,255,0.2);
            border-radius: 4px;
            vertical-align: top;
            color: @footer_color_contrast;
            font-size: 1rem;
            transition: all 0.3s ease;

            &:hover {
                border-color: @primary_color;
                background: none;
            }

            &:before {
                margin: 0;
                width: auto;
            }
        }
    }

    .bottom-menu {
        margin: 0 0 1rem;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                display: inline-block;
                vertical-align: top;
                padding: 0 0.5rem 0.5rem 0;

                ul {
                    margin-top: 0.5rem;
                    opacity: 0.7;

                    li {
                        display: block;
                    }
                }
            }
        }

        @supports (display: flex) {
            > ul {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .wi-group {
        margin: 0 1rem 0.5rem 0;
        vertical-align: top;

        i {
            color: @primary_color;
        }

        &.phone {
            a {
                color: @footer_color_contrast;
                font-size: 0.9375rem;
                font-weight: bold;
            }

            .callback {
                font-weight: normal;
                font-size: 0.875rem;
                color: @primary_color;
                border-bottom: 1px dotted @primary_color;

                &:hover {
                    color: @footer_color_contrast;
                    border-color: @footer_color_contrast;
                }
            }
        }
    }
}

.section {
    padding: 2.5rem 0;
}

.gray {
    background: #f7f7f7;
    border: 1px solid #ebeef1;
    border-width: 1px 0;
}

.block-title {
    font-size: 1.625rem;
}

.page-title {
    margin: 0 0 1.875rem;
    padding: 0;
    font-size: 2.125rem;
    line-height: 1;
    font-weight: 600;
}

.page-head {
    margin: -1.875rem 0 2.5rem;
    padding: 3.125rem 0 1.25rem;

    .breadcrumbs {
        color: #777;
        font-size: 0.75rem;
        margin: 0 0 0.625rem;

        a {
            color: #777;
        }

        .separator {
            color: #ccc;
            margin: 0 0.3125rem;
        }
    }

    h1.page-title {
        margin: 0;
    }
}

.page-image {
    margin: 0 0 2.5%;
}

.pagination {
    display: block;
    margin: 1.25rem 0;

    > a {
        display: inline-block;
        vertical-align: middle;
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 2px;
        line-height: 1.875rem;
        text-align: center;
        color: #333;
        text-decoration: none;
    }

    > span {
        display: inline-block;
        vertical-align: middle;
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 2px;
        line-height: 1.875rem;
        text-align: center;
    }

    .current {
        background: @primary_color;
        color: @primary_color_contrast;
    }
}


/* xs, sm, md, lg */
@media ( max-width: 1200px ) {
    
}

/* xs, sm, md */
@media ( max-width: 991px ) {
    html {
        font-size: 15px;
    }

    .page-head {
        margin-top: 0;
        padding-top: 1.875rem;
    }
    
    .head-placeholder {
        height: auto;
    }
    
    .head {
        height: 7.5rem;

        .logo > a * {
            margin-top: 0;
        }
    }

    .footer {
        .wi-group {
            display: inline-block;
        }
    }
}

/* xs, sm */
@media (max-width: 767px) {
    html {
        font-size: 14px;
    }
    
    .consultation {
        .title {
            margin-bottom: 0.9375rem;
        }

        .btn {
            margin-top: 1.25rem;
        }
    }

    .footer {
        .bottom-menu {
            > ul {
                justify-content: start;

                ul {
                    display: none;
                }
            }
        }

        .copy {
            margin-top: 1rem;
        }
    }
}

/* xs */
@media (max-width: 575px) {
    .head {
        .logo > a * {
            max-width: 95%;
        }

        .phone {
            a {
                font-size: 0.8125rem;
            }

            .icon-phone {
                top: -0.1875rem;
            }
        }

        .callback {
            margin-top: 0.625rem;
        }
    }
}

/* lg, xl */
@media ( min-width: 992px ) {
    .head-placeholder.fixed .head {
        position: fixed;
        width: 100%;
        height: 4.375rem;
        background: #fff;
        z-index: 700;
        top: 0;
        left: 0;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        padding: 0.625rem 0;

        .container {
            position: relative;
        }

        .show-in-fixed {
            display: block;
        }

        .logo > a * {
            height: 3.125rem;
            margin: 0;
        }

        .show-menu {
            border: 1px solid #e7e8ea;
            border-width: 0 1px;
            height: 4.375rem;
            margin: -0.625rem 0 0 1.875rem;
            float: left;
            padding: 0 2.125rem 0 1.25rem;
            line-height: 4.0625rem;
            color: #333;
            text-decoration: none;
            position: relative;

            .icon-small-down-arrow {
                line-height: 2rem;
                position: absolute;
                right: 1.25rem;
                top: 50%;
                margin-top: -1rem;
            }
        }

        .left-block .blocks-container {
            width: auto;
        }

        .right-block br {
            display: none;
        }

        .phone {
            vertical-align: middle;
            margin-right: 1.25rem;

            a {
                font-size: 1.125rem;
            }

            + .small {
                font-size: 0.8125rem;
                margin-right: 1.375rem;
            }
        }

        .text {
            display: none;
        }
    }
}
