.head-menu { 
    height: 3.75rem;

    .container {
        position: relative;
    }

    .menu {
        background: @menu_background;
        border-radius: 2px;
        height: 3.75rem;
        position: relative;
        z-index: 600;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);

        > ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: table;
            width: 100%;

            > li {
                margin: 0;
                padding: 0;
                display: table-cell;
                vertical-align: top;
                position: relative;

                > a {
                    display: table;
                    width: 100%;
                    border-right: 1px solid rgba(255,255,255,0.1);
                    text-decoration: none;
                    font-size: 0.875rem;
                    font-weight: bold;
                    line-height: 1rem;
                    height: 3.75rem;
                    padding: 0.5rem 0.625rem;
                    position: relative;
                    text-transform: uppercase;
                    color: @menu_color_contrast;
                    letter-spacing: 0.03em;
                    text-align: center;

                    .icon-small-down-arrow {
                        font-size: 0.625rem;
                        position: absolute;
                        right: 0.625rem;
                        top: 50%;
                        line-height: 1rem;
                        margin-top: -0.5rem;
                    }

                    span {
                        display: table-cell;
                        vertical-align: middle;
                    }
                }

                > a:hover,
                &:hover > a {
                    background: rgba(255,255,255,0.1);
                }

                &.show-search a {
                    border: 0;

                    &:before {
                        font-size: 1.125rem;
                    }
                }

                &:hover ul {
                    display: block;
                }

                &.category-menu-item > a {
                    padding-right: 1.75rem;
                }
            }
        }

        ul ul {
            display: none;
            position: absolute;
            z-index: 600;
            margin: 0;
            padding: 0;
            list-style: none;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            min-width: 100%;
            background: #fff;
            top: 100%;
        
            li {
                margin: 0;
                padding: 0;

                a {
                    display: block;
                    color: #333;
                    font-size: 0.8125rem;
                    padding: 0.5625rem 1.5625rem 0.6875rem 0.8125rem;
                    border-top: 1px solid #f3f3f3;
                    text-decoration: none;
                    line-height: 1.2;

                    &:hover {
                        background: @menu_background;
                        color: @menu_color_contrast;
                    }
                }
            }
        }
    }
    
    .show-menu {
        padding: 0.625rem;
        color: @menu_background;
        font-size: 1.875rem;
        text-decoration: none;
        display: inline-block;
        margin: 0 -0.375rem 0 0;
        position: absolute;
        right: 0.625rem;
        top: -2.5rem;
    }
}

/* xs, sm, md */
@media ( max-width: 991px ) {
    .head-menu {
        height: 1.25rem;

        .menu {
            height: auto;
            display: none;

            > ul > li {
                display: block;

                > a {
                    padding: 0.3125rem 1.25rem;
                    line-height: 1.3;
                    text-align: left;
                    height: auto;

                    i {
                        margin-top: 0.125rem;
                    }
                }

                &:hover > ul {
                    display: none;
                }
            }

            ul ul {
                display: none;
                position: static;

                li a {
                    padding: 0.3125rem 1.25rem;
                }
            }

            .icon-search:before {
                display: none;
            }
        }

        &.show {
            height: auto;
            padding: 0 0 1.875rem;

            .menu {
                display: block;

                > ul > li.category-menu-item.show > ul {
                    display: block !important;
                }
            }
        }

        + .gray {
            margin-top: 0;
            padding-top: 1.25rem;
        }
    }
}

/* lg, xl */
@media ( min-width: 992px ) {
    .head-placeholder.fixed .head-menu {
        .menu {
            position: fixed;
            top: 4.375rem;
            z-index: 690;
            background: none;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
            height: auto;
            display: none;

            > ul {
                display: block;

                > li {
                    display: block;
                    border-top: 1px solid #f3f3f3;

                    &:first-child {
                        border: 0;
                    }

                    &.show-search {
                        display: none;
                    }

                    &.category-menu-item > a i {
                        &:before {
                            content: '\e80a';
                        }
                    }

                    > a {
                        font-weight: normal;
                        text-transform: none;
                        text-align: left;
                        line-height: 1.2;
                        background: #fff;
                        color: #333;
                        padding: 0.5625rem 1.5625rem 0.6875rem;
                        font-size: 0.8125rem;
                        height: auto;

                        &:hover {
                            background: @menu_background;
                            color: @menu_color_contrast;
                        }
                    }

                    ul {
                        left: 100%;
                        top: 0;
                        margin-top: -1px;

                        li a span {
                            white-space: nowrap;
                        }
                    }
                }
            }
        }

        &.show-fixed .menu {
            display: block;
        }
    }
}

