.filter {
    margin: 2.5rem 0;
    border: 1px solid #e7e8ea;
    padding: 1.875rem 5%;
    
    .title {
        height: 0;
        position: relative;
        top: -3.75rem;
        text-align: center;
    }

    .block-title {
        background: #fff;
        margin: 0;
        padding: 0.625rem 1.875rem;
        display: inline-block;
    }

    .filter-option {
        padding-bottom: 1.875rem;
    }

    .filter-name {
        font-weight: 600;
        margin: 0 0 0.625rem;
    }

    .checks label {
        display: inline-block;
        padding-left: 1.25rem;
        position: relative;
        cursor: pointer;

        input {
            position: absolute;
            left: 0;
            top: 0.1875rem;
        }

        .fltr_count {
            color: #aaa;
            font-size: 80%;
        }
    }

    .value {
        width: 50%;
        display: inline-block;
        padding: 0 0.625rem 0 0;

        + .value {
            padding: 0 0 0 0.625rem;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                left: -5px;
                width: 0.625rem;
                border-top: 1px solid #ddd;
                top: 15px;
            }

            input {
                text-align: right;
            }
        }
    }

    .filter-slider {
        margin: 1.25rem 0 0;
        position: relative;
        cursor: pointer;
        border-radius: 0.625rem;
        height: 5px;
        background: #bbc2c8;
        padding: 0 7px;
    }

    .fltr_slider {
        border: 0;
        background: transparent;

        .ui-slider-range {
            position: absolute;
            border-radius: 0.625rem;
            background: @primary_color;
            height: 5px;
        }

        .ui-slider-handle {
            position: absolute;
            border-radius: 0.625rem;
            width: 18px;
            height: 18px;
            background: #fff;
            border: 4px solid @primary_color;
            margin: -7px 0 0 -9px;
            top: 0;
        }
    }

    .value-limits {
        margin: 0.625rem 0 2.1875rem;
        color: #888;
        font-size: 0.625rem;
    }

    &.side {
        margin: 0;
        padding: 0;

        .filter-option {
            padding: 7%;
            border-bottom: 1px solid #e7e8ea;
            margin: 0;
        }
    }

    &.main {
        .eFiltr_cat {
            display: table;
            table-layout: fixed;
            width: 100%;

            > div {
                display: table-cell;
                vertical-align: top;
                padding: 0 2% 2rem;
            }
        }
    }
}

.filter-side-buttons {
    padding: 7%;

    .btn {
        padding: 0.4em 0.7em;
        font-size: 0.75rem;
    }
}

/* xs */
@media (max-width: 575px) {
    .filter.main {
        .eFiltr_cat {
            display: block;

            > div {
                display: block;
            }
        }
    }
}