.instagram {
    padding: 4rem 1rem 1rem;
    margin-bottom: -40px;

    .block-title {
        margin-bottom: 2rem;
    }

    .items {
        margin: 0 -5px -10px;
        padding: 0;
        list-style: none;

        > li {
            padding: 0 5px 10px;
            margin: 0;
            display: inline-block;
            width: 12.5%;
            vertical-align: top;

            a {
                display: block;
                padding-bottom: 100%;
                position: relative;

                span {
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    background-size: cover;
                    background-position: center;
                }
            }

            @media (max-width: 1200px) {
                width: 16.667%;
            }

            @media (max-width: 991px) {
                width: 25%;
            }

            @media (max-width: 575px) {
                width: 33.333%;
            }

            @media (max-width: 380px) {
                width: 50%;
            }
        }
    }
}
