.modal {
    .close {
        font-size: 0.875rem;
        line-height: 1;
        transition: opacity 0.3s ease;
        color: @primary_color_contrast;
        text-shadow: none;
    }

    .modal-title {
        padding: 30px;
        background: @primary_color;
        color: @primary_color_contrast;
        font-weight: bold;
        font-size: 25px;
        line-height: 1;
    }

    .modal-body {
        padding: 2rem 3.125rem;

        .form-group {
            margin: 0 0 1.25rem;
        }

        .policy-note {
            font-size: 0.7rem;
            margin-top: 1rem;
            color: #777;
        }
    }

    @media (max-width: 543px) {
        .modal-dialog {
            max-width: 95%;
            margin: 0;
        }
    }

    &#response {
        .close {
            color: #000;
        }

        .modal-body {
            padding: 1.5rem;
        }
    }
}

